body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
}

header a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
}

section {
    max-width: 70%;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    min-height: 600px;
}

/* Ajout d'animations à la section hero */
.hero .text,
.hero .image {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.8s ease-out;
}

/* Classe ajoutée pour rendre les éléments visibles avec une animation fluide */
.hero .text.visible,
.hero .image.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero .text {
    max-width: 50%;
    padding-right: 20px;
}

.hero h1 {
    font-size: 3.5em;
    color: #333;
    margin: 0;
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
    color: #555;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.hero img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.competences-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px; /* Espace entre colonnes */
}

.column {
    flex: 1;
}

.column h3 {
    font-size: 1.8em;
    margin-bottom: 50px;
    color: #007BFF;
}

.competences-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Grille adaptable */
    gap: 0; /* Espacement entre les éléments */
    width: 60%;
    margin-top: 30px;
}

.competence-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 0.8em;
}

.competences-wrapper h4{
    font-size: 1.8rem;
}
.competence-item img {
    width: 40px; /* Taille uniforme des logos */
    height:44px;
    object-fit: contain;
}

/* Styles pour les expériences */

.experience-item {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 2rem;
    border-left: 2px solid #007BFF; /* Ligne de la chronologie */
}

.experience-item:before {
    content: "";
    position: absolute;
    left: -8px; /* Positionnement du point */
    top: 0;
    width: 16px;
    height: 16px;
    background-color: #007BFF; /* Couleur du point */
    border-radius: 50%; /* Rendre le point circulaire */
    border: 3px solid #fff; /* Bordure blanche autour du point */
}

.experience-item h4 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

.experience-item p {
    margin: 0.5rem 0;
    color: #555;
    line-height: 1.5;
    font-size: 1.5em;
}

.experience-item p strong {
    color: #FF5733; /* Accentuation sur les mots-clés */
}

#certifications {
    text-align: center;
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}

.certification-display {
    position: relative;
    width: 100%;
    height: 150px; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    justify-content: center;
    align-items: center;
}

.certification-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Style pour la certification visible */
.certification-item.active {
    opacity: 1;
    transform: translateY(0);
}

#certifications {
    text-align: center;
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}

.certification-display {
    position: relative;
    width: 100%;
    height: 150px; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    justify-content: center;
    align-items: center;
}

.certification-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Style pour la certification visible */
.certification-item.active {
    opacity: 1;
    transform: translateY(0);
}

/* Section Formation */
#formation {
    background-color: #f5f8fc;
    padding: 50px 20px;
}

#formation h2 {
    text-align: center;
    margin-bottom: 40px;
}

.formation-container {
    max-width: 1200px;
    margin: 0 auto;
}

.formation-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.formation-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formation-left img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.formation-right {
    flex: 2;
}

.education-item {
    margin-bottom: 30px;
}

.education-item h4 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.education-item p {
    margin: 5px 0;
    font-size: 1.5rem;
    color: #555;
}

.education-item ul {
    margin: 10px 0 0;
    padding-left: 20px;
}

.education-item ul li {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #444;
}

.education-item ul li strong {
    color: #c14444;
}

/* Animation de base */
#competences .column > div,
#competences .experience-item {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

/* Classe visible : les éléments apparaissent avec une animation fluide */
#competences .column > div.visible,
#competences .experience-item.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Styles pour la section Projets */

#projets {
    max-width: 80%;
    margin: 50px auto;
    text-align: center;
}

#projets h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.projets-container {
    display: flex;
    overflow: hidden; /* Masquer la scrollbar */
    scroll-behavior: smooth;
}

.projet-card {
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}

.projet-logo img {
    width: 100%;
    max-width: 80px;
    margin-bottom: 10px;
}

.projet-card h3 {
    margin: 10px 0;
}

.projet-status {
    font-style: italic;
    color: #66ccff;
}

.projet-card ul {
    list-style: none;
    padding: 0;
}

.projet-card ul li {
    margin: 5px 0;
}

.nav-buttons {
    margin-top: 20px;
}

.nav-buttons button {
    background-color: rgb(250, 248, 248);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    font-size: 18px;
}

.nav-buttons button:hover {
    background-color: #666;
}

/* Masquer la scrollbar */
.projets-container::-webkit-scrollbar {
    display: none;
}

.projets-container {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}


/* Section Expériences Extra-Scolaires */
#extrascolaire {
    padding: 60px 20px;
    text-align: center;
}

#extrascolaire h2 {
    margin-bottom: 30px;
}

/* Conteneur principal */
.extrascolaire-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* Carte d'expérience */
.extrascolaire-card {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.extrascolaire-card:hover {
    transform: translateY(-5px);
}

/* Logo de l'entreprise */
.extrascolaire-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex-shrink: 0;
}

.extrascolaire-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Contenu textuel */
.extrascolaire-content {
    text-align: left;
}

.extrascolaire-content h3 {
    font-size: 1.4em;
    margin-bottom: 8px;
}

.extrascolaire-content p {
    font-size: 1.2em;
    color: #666;
}




/* Style général du pied de page */
#footer {
    padding: 20px 0;
    text-align: center;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.5); /* Ombre vers le haut */
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-contact ul {
    list-style: none;
    padding: 0;
}

.footer-contact ul li {
    margin: 10px 0;
}

.footer-contact a {
    text-decoration: none;
}

.footer-social {
    text-align: center;
    position: relative;
    margin-top: 60px;
}

.social-container {
    position: relative;
}

#social-btn {
    background-color: #eee9e9;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.social-icons {
    display: none;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.1);
}

/* Transition de bouton à icônes */
.footer-social:hover #social-btn {
    opacity: 0;
}

.footer-social:hover .social-icons {
    display: flex;
}

/* Style complémentaire */
.footer-extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
}

.footer-extras a {
    text-decoration: none;
    font-weight: bold;
}

.footer-extras a:hover {
    text-decoration: underline;
}

/* Section Copyright */
.footer-copyright {
    margin-top: 20px;
    font-size: 0.9rem;
    margin-top: 65px;
}



#savoir-faire, #outils, #projs {
    font-size: 1.5em;
}

#savoir-faire strong {
    color: #FF5733; /* Accentuation sur les mots-clés */
}

#savoir-faire ul li {
    margin-bottom: 20px; 
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Animation fluide */
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
    background-color: #f8f9fa; /* Couleur de fond douce */
}

.category:hover {
    transform: scale(1.02);
    background-color: #e9ecef; /* Fond un peu plus sombre au survol */
}

.category a {
    text-decoration: none;
    color: #343a40;
    font-size: 1.2em;
    font-weight: bold;
}

/* Lien au survol */
.category a:hover {
    color: #007BFF; /* Couleur accentuée */
}







/* Style de base des cartes (état invisible) */
.extrascolaire-card {
    opacity: 0;
    transform: translateY(20px); /* Décalage initial vers le bas */
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Style lorsque l'élément devient visible */
.extrascolaire-card.visible {
    opacity: 1;
    transform: translateY(0); /* Retour à la position initiale */
}


/* Animation fade-in */
.projet-card img, .extrascolaire-logo img {
    transition: transform 0.3s ease;
}

.projet-card img:hover, .extrascolaire-logo img:hover {
    transform: scale(1.1);
}

.projet-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.projet-card:nth-child(1) {
    transition-delay: 0.5s;
}
.projet-card:nth-child(2) {
    transition-delay: 1s;
}
.projet-card:nth-child(3) {
    transition-delay: 1.5s;
}

/* Quand elles sont visibles à l'écran */
.projet-card.visible {
    opacity: 1;
    transform: translateY(0);
}










/* Conteneur général pour les projets */
.ml-projects-list {
    display: flex;
    flex-direction: column; /* Chaque carte sur une nouvelle ligne */
    gap: 70px; /* Espacement entre les cartes */
    padding: 20px;
    align-items: center; /* Centrer les cartes horizontalement */
}

/* Individual project card */
.ml-project-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%; /* Prend 90% de la largeur disponible */
    padding: 20px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    text-align: left;
    color: black;

}

/* Hover effect */
.ml-project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Project card content */
.ml-project-card h3 {
    color: #ffaa00;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.ml-project-card ul, .ml-project-card p {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    font-size: 1.2em;
}

.ml-project-card ul li {
    margin-bottom: 8px;
}

/* Links */
.ml-project-card a {
    color: #ffaa00;
    text-decoration: none;
    font-weight: bold;
}

.ml-project-card a:hover {
    text-decoration: underline;
}












/* Responsive ajustements */
/* Style global du header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

header nav a:hover {
    color: #0056b3;
}

/* Style de la section hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 20px;
    text-align: left;
}

.hero .text {
    max-width: 50%;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

.hero h1 span {
    color: #007BFF;
}

.hero p {
    font-size: 1.2em;
    color: #555;
    margin: 20px 0;
}

.hero .image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 1024px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero .text {
        max-width: 90%;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .hero .image img {
        margin-top: 20px;
        max-width: 80%;
    }

    #competences {
    display: none;
    }
    
    .competences-wrapper {
        flex-direction: column; /* Stack columns vertically */
        gap: 40px;
    }

    .competences-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .experience-item p {
        font-size: 1em; /* Adjust font size for smaller screens */
    }

    .formation-wrapper {
        flex-direction: column; /* Stack items vertically */
    }

    .formation-left {
        margin-bottom: 20px;
    }

    .formation-right {
        text-align: left; /* Align text for readability */
    }

    .education-item h4 {
        font-size: 1.3em; /* Slightly smaller titles */
    }

    .education-item ul li {
        font-size: 0.9em; /* Adjust font size */
    }
}


@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }

    header .logo h2 {
        font-size: 1.2em;
    }

    header nav a {
        font-size: 0.9em;
    }

    .hero h1 {
        font-size: 1.8em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .hero .image img {
        margin-top: 15px;
        max-width: 90%;
    }

    .extrascolaire-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .extrascolaire-logo {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .extrascolaire-content {
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-extras {
        flex-direction: row;
        gap: 15px;
    }
    
    .ml-project-card {
        width: 100%; /* Prend toute la largeur sur les petits écrans */
    }

    .competence-item img {
        width: 40px; /* Reduce logo size */
        height: 40px;
    }

    .competence-item span {
        font-size: 0.8em; /* Smaller font size for labels */
    }

    .competences-grid {
        grid-template-columns: 1fr; /* One item per row on very small screens */
    }

    .competence-item {
        font-size: 0.8em;
    }

    .experience-item p {
        font-size: 0.9em;
    }

    .formation-left img {
        max-width: 80%; /* Reduce image size */
    }

    .education-item h4 {
        font-size: 1.2em;
    }

    .education-item ul li {
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em; /* Réduction pour les très petits écrans */
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em; /* Ajustement pour les paragraphes */
    }

    .education-item h4 {
        font-size: 1em; /* Compact titles for very small screens */
    }

    .education-item ul li {
        font-size: 0.7em; /* Smaller font size for details */
    }
}
